.bar {
	background: rgb(20, 123, 141);
	font: 800;
	color: rgb(255, 255, 255);
	padding: 5px 6px 5px 12px;
	font-weight: bold;
}

.bar > i{
	float: right;
	font-size: 20px;
	cursor: pointer;
}

input[type="radio"] {
	margin-top: -1px;
	vertical-align: middle;
	margin-left: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: rgb(68, 81, 92);
	margin: 0px;
}

hr {
	border: none;
	height: 2px;
	background-color: rgb(218,218,218);
	margin: 0px;
}

.greybox {
	background: rgb(239, 239, 239);
	border-radius: 7px;
	padding: 20px;
	margin: 3mm;
}

.greybox-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 20px;
}

.greybox-hr {
	margin-top: 13px;
	margin-bottom: 13px;
}

.content{
	margin-right: 3mm;
	margin-top: 3mm;
	margin-bottom: 3mm;
	margin-left: 7mm;
}

.submit {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	background: rgb(255, 232, 192);
	margin: 10px 10px 0px 20px;
	padding: 3px 6px 3px 6px;
	outline: none;
	cursor: pointer;
	float: right;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 232, 192);
	border-radius: 2px 2px;
	border: 1.5px solid rgb(202, 103, 96);
}

.submit:hover {
	color: rgb(255, 255, 255);
	background: rgb(202, 103, 96);
	border-color: rgb(202, 103, 96);
}

input.pay-det, select, textarea{
	border: 1.5px solid rgb(213,213,213);
	border-radius: 5px;
	padding: 5px;
	margin: 0px 20px 0px 10px;
}

input[type="radio"] {
	cursor: pointer;
}

select{
	width: 250px;
}

textarea {
	width: 500px;
	font-family: 'Roboto', sans-serif;
}

input:focus, select:focus, textarea:focus{
	outline: none;
	border-color: rgb(30, 144, 255);
}

label > span{
	color: rgb(255, 0, 0);
}

/*
	font - Helvetica Neue

	colours

	68, 81, 92    - font
				  - topbar teal				#147b8d

	239, 239, 239 - grey box				#efefef
	196, 196, 196 - hint text				#c4c4c4
	255, 239, 239 - red total tint			#ffefef
	225, 232, 237 - blue header tint		#e1e8ed

	255, 232, 192 - orange button			#ffe8c0
	202, 103, 96  - orange button outline	#ca6760

	20,123,141    - '+' icon tint			#147b8d

*/

.s1-container {
	display: grid;
	grid-template-columns: 4fr 6fr;
	column-gap: 40px;
}

.pay-container {
	display: grid;
	grid-template-columns: 1fr 6fr;
	column-gap: 15px;
	grid-row-gap: 10px;
	align-items: center;
}

/* Procedural Code Table Styling & Grid */

.proc-code-grid {
	display: grid;
	grid-template-columns: 40px 1fr minmax(600px,auto) repeat(5,1fr);
	width: 100%;
}

.proc-code-grid > div {
	padding: 10px 3px 0px 5px;
	border: 1px solid rgb(218,218,218);
}

.proc-code-header {
	font-weight: bold;
	background: rgb(225, 232, 237);
}

.proc-code-total {
	padding: 5px 3px 5px 5px !important;
	background: rgb(255, 239, 239);
}

.total-box {
	grid-column-start: 1;
	grid-column-end: 4;
	font-weight: bold;
}

.pay-amt-grid-item {
	padding: 7px 3px 5px 5px!important;
	background: rgb(255, 255, 255);
}

.pay-amt-box {
	width: 100px;
	height: 15px;
	margin-bottom: 0px;
}

.plus-icon-box {
	padding: 5px 5px 0px 5px !important;
	text-align:center;
}

.plus-icon-box > i {
	cursor: pointer;
	margin-top:2px;
	font-size: 18px;
	color: rgb(20, 123, 141)
}

/* Payment Info Modal Box*/

.payment-details {
	display: none;  
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);  /*Fallback color */
	background-color: rgba(0,0,0,0.4);  /*Black w/ opacity*/ 
}

.modal-content {
	background-color: rgb(254, 254, 254);
	margin: 15% auto; /* 15% from the top and centered */
	border: 1px solid rgb(136, 136, 136);
	width: 32%;
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

/* Check Box Styling */

input[type="checkbox"] {
	-webkit-appearance: none;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(202, 206, 206);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 6px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	margin: 0px 0px 0px 6px;
	cursor: pointer;
}

input[type="checkbox"]:checked {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(173, 184, 192);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: rgb(153, 161, 167);
}

input[type="checkbox"]:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: -1px;
	left: 2px;
	color: rgb(153, 161, 167);
}

/* Slider Styling */

.slider {
	height: 100%;
	width: 0; /* changed with JavaScript */
	position: fixed;
	z-index: 1;	top: 0;	left: 0;
	background-color: rgb(255, 255, 255); 
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.bold-heading{
	font-weight:bold;
}

.margin-10{
	margin:10px;
}

.show-codes-check{
	float: right;
}

.modal-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 20px;
	padding: 17px;
}