.bar {
	background: #147b8d;
	font: 800;
	color : #ffffff;
	padding : 2mm;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: small;
	color: rgb(68, 81, 92);
	margin: 0px;
}

hr {
	border: none;
	height: 2px;
	background-color: rgb(213,213,213);
	margin: 0px;
}

.greybox {
	background: #efefef;
	border-radius: 7px;
	padding: 20px;
	margin: 3mm;
}

.greybox-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 20px;
}

.greybox-hr {

	margin-top: 13px;
	margin-bottom: 13px;
}

/* rename to margin */
.content{
	margin-right: 3mm;
	margin-top: 3mm;
	margin-bottom: 3mm;
	margin-left: 7mm;
}

.submit {
	background: #ffe8c0;
	outline: auto;
	outline-color: #ca6760;
	margin-right: 4mm;
	color: #000000;
	float: right;
}

input, select, textarea{
	border: 1.5px solid rgb(213,213,213);
	border-radius: 7px;
	padding: 5px;
}

select{
	width: 300px;
}

textarea{
	width: 500px;
}

input:focus, select:focus, textarea:focus{
	outline: none;
	border-color: dodgerblue;
}

/*
	font - Helvetica Neue

	colours

	68, 81, 92    - font
				  - topbar teal				#147b8d

	239, 239, 239 - grey box				#efefef
	196, 196, 196 - hint text				#c4c4c4
	255, 239, 239 - red total tint			#ffefef
	225, 232, 237 - blue header tint		#e1e8ed

	255, 232, 192 - orange button			#ffe8c0
	202, 103, 96  - orange button outline	#ca6760

	20,123,141    - '+' icon tint			#147b8d

*/

.s1-container {
	display: grid;
	grid-template-columns: 4fr 6fr;
	column-gap: 40px;
}

.pay-container {
	display: grid;
	grid-template-columns: 1fr 7fr;
	column-gap: 15px;
	grid-row-gap: 10px;
}

